@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    /*Background colors */
    --background-color: #D8DFE8;
    --background-color-header: #b6b9bd;
    --background-right-side: white;

    /*Font*/
    --font-family: "Inter", sans-serif;

    /*Font colors*/
    --font-color: white;
    --font-color-secondary: #343A40;
    --font-color-input: #0A3871;
    --font-color-button-secondary: #052051;

    /*Button colors*/
    --button-primary: #0A3871;
    --button-primary-hover: #052246;
    --button-secondary: #868E96;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
}

body {
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--font-color);
}

header {
    padding: 2%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1%;
    background-color: var(--background-color-header);
    display: flex;
    align-items: center;
}

header img {
    width: auto;
    height: 30px;
}

main {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-direction: row;
    padding: 5%;
}

section {
    display: flex;
    margin: 2%;
    justify-content: center;
}

.left-side {
    width: 80%;
    flex-direction: column;
}

#entrada {
    width: 100%;
    height: 90%;
    border: 0;
    border-radius: 24px;
    background-color: var(--background-color);
    font-size: 1.05rem;
    font-family: var(--font-family);
    color: var(--font-color-input);
    padding: 5px;
    text-align: start;
    text-wrap: pretty;
}

small {
    display: flex;
    align-items: center;
    margin-top: 1%;
    color: var(--font-color-secondary)
}

.left-side .buttons {
    display: flex;
    justify-content: space-evenly;
}

.buttons button {
    display: flex;
    width: 45%;
    height: 40px;
    margin: 24px;
    border-radius: 24px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

button:disabled {
    cursor: not-allowed;
}

.undo-encrypt {
    background-color: var(--button-secondary);
    border: 1px solid var(--button-primary);
    color: var(--font-color-button-secondary);
}

.undo-encrypt:hover {
    background-color: var(--button-primary);
    color: var(--font-color);
}

.encrypt {
    background-color: var(--button-primary);
    color: var(--font-color);
}

.encrypt:hover {
    background-color: var(--button-primary-hover);
    border: 1px solid var(--button-primary);
    color: var(--font-color);
    font-weight: 700;
    font-stretch: extra-expanded;
}

.right-side {
    height: 75vh;
    width: 25%;
    border: 0;
    padding: 1%;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-right-side);
    box-shadow: -1px 5px 8px 0px #cccccc;
}

.right-side #conResultado {
    width: 100%;
    font-size: 1rem;
}

.right-side img {
    width: 100%;
}

.right-side #sinResultado {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1rem;
    color: var(--font-color-secondary);
    text-align: center;
}

.right-side #sinResultado h3 {
    margin: 2%;
}

.right-side #sinResultado p {
    margin-top: 5%;
}


#errorMessage {
    color: red;
    display: none;
    margin-top: 2%;
    font-size: 1.25rem;
    text-align: center;
}

#conResultado {
    display: none;
    flex-direction: column;
}

#conResultado #resultado {
    color: var(--font-color-secondary);
    font-size: 1.25rem;
    text-align: center;
}

.right-side #conResultado .buttons2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
}

.buttons2 button {
    display: flex;
    width: 100%;
    height: 30px;
    margin: 2% 0;
    border-radius: 24px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.copyButton {
    background-color: var(--button-primary);
    color: var(--font-color);
}

.copyButton:hover {
    background-color: var(--button-primary-hover);
    border: 1px solid var(--button-primary);
    color: var(--font-color);
    font-weight: 700;
    font-stretch: extra-expanded;
}

.cleanButton {
    background-color: var(--button-secondary);
    border: 1px solid var(--button-primary);
    color: var(--font-color-button-secondary);
}

.cleanButton:hover {
    background-color: var(--button-primary);
    color: var(--font-color);
}

/* Estilos para teléfonos inteligentes */
@media (max-width: 480px) {
    header {
        padding: 2%;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 2%;
        z-index: 1000;
        box-shadow: 0px 10px 10px 5px rgba(105, 105, 105, 0.26);
        background-color: rgba(255, 255, 255, 0.75);
        display: flex;
    }


    main {
        flex-direction: column;
        box-sizing: border-box;
    }

    section {
        width: 100%;
    }

    .left-side {
        width: 100%;
        height: 75%;
    }

    .left-side .buttons {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }

    .buttons button {
        width: 100%;
        height: 40px;
        margin: 5px;
        border-radius: 30px;
    }

    .right-side {
        width: 100%;
        height: 25%;
    }

    .right-side img {
        display: none;
    }
}

/* Estilos para tablets */
@media (max-width: 768px) {
    main {
        flex-direction: column;
        height: 100%;
        margin: 5%;
    }

    section {
        width: 100%;
    }

    .left-side {
        width: 100%;
        height: 75%;
    }

    .left-side input {
        height: 100%;
    }

    .right-side {
        width: 100%;
        height: auto;
    }

    .right-side img {
        display: none;
    }
}

.material-symbols-rounded {
    margin-right: 1%;
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 24
}